@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Oswald:wght@500;600&display=swap');

header{
    background-image: url('../../public/pexels-01.jpg');
    background-size: contain;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: antiquewhite;

}

.header--logo{
    font-size: 5vw;
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
    font-size: medium;
    color: goldenrod;
    position: relative;
    right: 10vw;
}

.header--menu{
    color: goldenrod;
    height: 50px;
}